{
  "env": {
    "browser": true,
    "jquery" : true,
    "es6": true
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["./*.js", "./src/js/*.js"],
      "peerDependencies": false
    }],
    "prettier/prettier": [
      "error", {
        "singleQuote": true,
        "semi": false
      }
    ]
  }
}
