*::selection {
  color: white;
  background: $keyColor;
}

html {
  overflow-y: scroll;
  line-height: $mediumLineHeight;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Helvetica, Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 62.5%;
  letter-spacing: 0.0625em;
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  font-weight: normal;
  color: $defaultFontColor;
}

header, footer, main, nav,
section, article, aside,
h1, h2, h3, h4,
figure, figcaption, table,
p, ul, li, dl, dd, dt, th, td, button,
a, input, textarea, select,
hr {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  line-height: $smallLineHeight;
}

h1 {
  font-size: $h1FontSize;
  font-weight: normal;
}

h2 {
  font-size: $h2FontSize;
  font-weight: normal;
}

h3 {
  font-size: $h3FontSize;
  font-weight: normal;
}

h4 {
  font-size: $h4FontSize;
  font-weight: normal;
}

p, li, dd, dt, th, td, button, figcaption,
a, input, textarea, select {
  font-size: $mediumFontSize;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: $keyColor;
  transition: $transition_c3s;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  outline: none;
  display: block;
  border-radius: 0;
  cursor: pointer;
}

input {
  outline: 0;
  display: block;
}

textarea {
  outline: 0;
  display: block;
}

select {
  outline: 0;
  border-radius: 0;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  &:not(:root) {
    overflow: visible;
  }
}

.disNone {
  display: none!important;
}
.disBlock {
  display: block!important;
}
.spDisBlock {
  display: block!important;
  @include mq(large) {
    display: none!important;
  }
}
.pcDisBlock {
  display: none!important;
  @include mq(large) {
    display: block!important;
  }
}
.spDisFlex {
  display: flex!important;
  @include mq(large) {
    display: none!important;
  }
}
.pcDisFlex {
  display: none!important;
  @include mq(large) {
    display: flex!important;
  }
}

.textAL {
  text-align: left!important;
}
.textAC {
  text-align: center!important;
}
.textAR {
  text-align: right!important;
}

.fontWB {
  font-weight: bold!important;
}

@include mq(large) {
  ::-webkit-scrollbar {
    width: 10px;
    &-track {
      background: white;
    }
    &-thumb {
      background: $keyColor;
    }
  }
}
