@include mq(large) {
  ::-webkit-scrollbar {
    width: 10px;
    &-track {
      background: white;
    }
    &-thumb {
      background: $defaultFontColor;
    }
  }
}

*::selection {
  color: white;
  background: $blackColor;
}

html {
  overflow-y: scroll;
  line-height: $largeLineHeight;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Helvetica, Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 62.5%;
  letter-spacing: 0.0625em;
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  font-weight: normal;
  color: $defaultFontColor;
}

h1 {
  font-size: $h1FontSize;
  font-weight: normal;
}

h2 {
  font-size: $h2FontSize;
  font-weight: normal;
}

h3 {
  font-size: $h3FontSize;
  font-weight: normal;
}

p, li, dd, dt, th, td, a, button {
  box-sizing: border-box;
  font-size: $mediumFontSize;
}

li {
  list-style: none;
}

a {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  color: $defaultFontColor;
  transition: $transition_c5s;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  outline: none;
  box-sizing: border-box;
  display: block;
  border-radius: 0;
  cursor: pointer;
}

input {
  box-sizing: border-box;
  display: block;
  outline: 0;
}

textarea {
  box-sizing: border-box;
  display: block;
  outline: 0;
}

select {
  outline: 0;
  box-sizing: border-box;
  border-radius: 0;
}

hr {
  box-sizing: border-box;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  &:not(:root) {
    overflow: visible;
  }
}

.disNone {
  display: none!important;
}
.disBlock {
  display: block!important;
}
.spDisBlock {
  display: block!important;
  @include mq(large) {
    display: none!important;
  }
}
.pcDisBlock {
  display: none!important;
  @include mq(large) {
    display: block!important;
  }
}
.spDisFlex {
  display: flex!important;
  @include mq(large) {
    display: none!important;
  }
}
.pcDisFlex {
  display: none!important;
  @include mq(large) {
    display: flex!important;
  }
}

.textAL {
  text-align: left!important;
}
.textAC {
  text-align: center!important;
}
.textAR {
  text-align: right!important;
}

.fontWB {
  font-weight: bold!important;
}

.mR10 {
  margin-right: 10px;
}
.mB10 {
  margin-bottom: 10px;
}
