// カラー設定
$blackColor: #212121;
$grayColor: #757575;
$defaultFontColor: #424242;
$linkColor: #000;
$transparent: rgba(0, 0, 0, 0);

// フォント設定
$h1FontSize: 4rem;
$h2FontSize: 3rem;
$h3FontSize: 2.4rem;
$xLargeFontSize: 2rem;
$largeFontSize: 1.8rem;
$mediumFontSize: 1.6rem;
$smallFontSize: 1.4rem;
$xSmallFontSize: 1.2rem;

// line-height
$xSmallLineHeight: 1;
$smallLineHeight: 1.2;
$mediumLineHeight: 1.6;
$largeLineHeight: 1.8;
$xLargeLineHeight: 2;

// border-radius
$borderRadius_5px: 5px;
$borderRadius_10px: 10px;

// transition
$transition_c3s: .3s;
$transition_c5s: .5s;
$transition_1s: 1s;

// opcity
$opacity: .5;

// easing
$easing: cubic-bezier(0.39, 0.575, 0.565, 1);

// 米印インデント調整
@mixin indent {
  padding-left: 1em;
  text-indent: -1em;
}

// 最大横幅設定
@mixin maxWidth {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

// 横並び設定
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

// ブレイクポイント設定
$breakPoints: (
    'middle': 'screen and (min-width: 768px)',
    'large': 'screen and (min-width: 1200px)',
);

@mixin mq($breakPoint) {
  @media #{map-get($breakPoints, $breakPoint)} {
    @content;
  }
}
